<!DOCTYPE html>
<html>
<head>
  <title>W2K8 Migration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
   <%= csrf_meta_tags %>
   
    <script>
    
    $(document).ready(function () {
    (function ($) {
        $('#filter').keyup(function () {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();
        })
    }(jQuery));
});
    
    
    </script>
</head>
<body>
<%= render 'layouts/navigation' %>
<%= render 'layouts/message' %>
<div class="container">
<%= yield %>
</div>
</body>
</html>